@model IEnumerable<MIS_Classroom.Models.TechengineeMisQuestion>


@{
    Layout = "/Areas/Student/Views/Shared/_Layout.cshtml";
}

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">Questions:</h2>
            <ol class="list-group list-group-numbered">
                @foreach (var question in Model)
                {
                    <div class="d-flex justify-content-between align-items-center">
                        <div style="width:80%">
                    <li class="list-group-item mb-3" style="border:none !important;top:20px">
                        <p>@(Model.ToList().IndexOf(question) + 1). @question.QuestionsTxt</p>
                    </li>
                     </div>
                      
                        <div style="width:20%">
                            <a href="@Url.Action("AnswerView", "Home", new { questionId = question.QuestionId })" class="btn btn-primary">Answer</a>
            </div>
                        
                        </div>
                   
                  
                   
                }
            </ol>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        No questions available for the selected subject.
    </div>
}
