@model IEnumerable<MIS_Classroom.Models.TechengineeMisQuestion>


@{
    Layout = "/Areas/Student/Views/Shared/_Layout.cshtml";
}

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">Questions:</h2>
            <ol class="list-group list-group-numbered">
                @foreach (var question in Model)
                {
                    <li class="list-group-item" style="color:black">
                        @question.QuestionsTxt
                        <a href="@Url.Action("AnswerView", "Home", new { questionId = question.QuestionId })" class="btn btn-primary">Answer</a>
                    </li>
                }
            </ol>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        No questions available for the selected subject.
    </div>
}
