@model IEnumerable<MIS_Classroom.Models.TechengineeMisSubject>

@{
    Layout = "/Areas/Student/Views/Shared/_Layout.cshtml";
}

@* <h1>Hi Students Welcome!!!</h1>
<h3>Here You Can View The Questions And Submit Your Answers For Each Questions</h3> *@


<style>
        body {
            font-family: Arial, sans-serif;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://source.unsplash.com/random');
      /*   height: 100vh;
            */
       
        
    }
    h1,h3{
        color: #fff !important;
    }
/* 

    </style>


    <div class="container">
    <h1 style="font-size: 3em;margin-bottom: 20px;">
        Hi Students Welcome!!!
    </h1>
    <h3 style="font-size: 1.5em;margin-top: 20px;">
        Here You Can View The Questions And Submit Your Answers For Each Questions
    </h3>
    </div>
