<html>
<head>
    <title>Carnot</title>
    <link rel="stylesheet" href="~/css/sub.css" asp-append-version="true" />
</head>
<body>
    <sections>
        <div class="main-content">
            <h2>Subjects</h2>
            <div class="subject-view">
                <div class="tab">
                    <a href="management_information_system.html"><button>Management Information System</button></a>
                    <a href="mobile_application_development.html"><button>Mobile Application Development</button></a>
                    <a href="numerical_methods.html"><button>Numerical Methods</button></a>
                    <a href="mathematical_foundation_and_computer_science.html"><button>Mathematical Foundation And Computer Science</button></a>
                    <a href="system_analysis_and_design.html"><button>System Analysis And Design</button></a>
                </div>
            </div>
        </div>
    </sections>
</body>
</html>
