<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Questions</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <h1>Go Beyond the Textbook.</h1>
    <h2>Pick a subject to find related fiction and nonfiction books</h2>

    <div class="filters">
        <a class="subject selecte" data-filter="*">Show all</a>
        <a class="subject" data-filter=".english-lit">English</a>
        <a class="subject" data-filter=".history">History</a>
        <a class="subject" data-filter=".math">Math/Statistics</a>
        <a class="subject" data-filter=".polisci">Political Science</a>
        <a class="subject" data-filter=".psych">Psychology</a>
        <a class="subject" data-filter=".science">Science</a>
        <a class="subject" data-filter=".religion">Religion</a>
    </div>

    <div class="grid">
        <div class="book-subject english-lit">
            <a href="https://books.google.com/books?id=nfjGMgEACAAJ&dq=love,+dishonor,+marry,+perish,+cherish&hl=en&sa=X&ved=0ahUKEwj44reg2vfOAhUq6oMKHciEAewQ6AEIHjAA" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=nfjGMgEACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70HkjyhPLvZ_ocOtUKnVr9KQlHTQX1aZfwgRYmnUVgz_q-r39YejwHnIcsd7G7-l-g4jkqsmhSY8AVxnDXSQwDe94a3tgPrdI5dFMT0boNwFoAnQ_jQVPNQRTYZrH2gWUCG-TMY" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject english-lit">
            <a href="https://books.google.com/books?id=9H9aAAAAMAAJ&dq=editions:5iTbjefdfnYC" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=it8NwjEKwCMC&printsec=frontcover&img=1&zoom=5&edge=curl&imgtk=AFLRE71FtSG_uy4d2LSdUkmn1p-oR4oy5e_p04GThuRIsXAQVemDvoUgDmLELiDNYAiA6cWS-a3X3xeRra15riX0RoW5DDtbbVPaZcNqfD0QaAIqypujSSHV5fH3k5pQfpe6GCEfKCV-" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject english-lit">
            <a href="https://books.google.com/books?id=Zd1l0Ivij8wC&printsec=frontcover&dq=the+unbearable+lightness+of+being&hl=en&sa=X&ved=0ahUKEwiC2e-c2_fOAhUH6WMKHTvGCScQ6AEIHjAA" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=XSsbwV7eumUC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73kpzOTqI3HpPv30XjtGd5kQkuUTXTqlwxnIwjnRORMKXswy5VCvNROa6tIKhjdTyy0hyatGQB-8WQGu_QJDPn7d4muGUq7SS6s7IuOAv5l7yPiw7i6otYLztdGd1GwgreGEDr2" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject english-lit">
            <a href="https://books.google.com/books?id=EJprQgAACAAJ&dq=the+dream+of+a+common+language&hl=en&sa=X&sqi=2&ved=0ahUKEwizmoaX3PfOAhUb24MKHfmLAA0Q6AEIHDAA" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=EJprQgAACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73DjHI2-ESxGjRDVtHQukOpC4r0BE7n719pRkKZkHQf-reT8AvtmaDbLeIOwwyl4GTgT508Csm8-YpMOmL5UF_XtAhoyBsbKCkjkKAMztOt_15D5nWwxbeX3HvMgzqsMUOm0tvx" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject english-lit">
            <a href="https://books.google.com/books/about/Understanding_Comics.html?id=tUwqbo48lp4C&source=kp_cover" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=Z1s_AQAAIAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71GPWNlCooCHMVPMpri0nU3MOX7yab2M0OvkRanpnN9E2fXj8L6UCX2KlTt7v2prU7S6aIOyBCd15CFg096MgwbaG9V8cJbyeWYZ-N77TO6eQqveRbWBpY7Nqa1vJPagdrHbIMM" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject english-lit">
            <a href="https://books.google.com/books?id=xZWKctOqg8YC&dq=alphabet+juice&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=xZWKctOqg8YC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE70aIazk9AD1ZoEwq5J-I2fc-IItqcs0hT-XdWxF43HR3LLllKwHaJ6WEVgUF4OhecJgMdzHaGdlASUKYc_OMmpXTOd8dh31nxd4PIeblF37PJ9VFIA2OtWgFikfcC_2A6qBek8e" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject history">
            <a href="https://books.google.com/books?id=dKIo6D9yh3cC&dq=cleopatra+stacey+schiff&source=gbs_navlinks_se" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=Pt_UlgEACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71Ch_XTKKAuzSn0q9VUQgGPcBLLTi4uyTEHrivPqhA-rh7e9ZU7_kBlSO8pg1kprOwTiFCrBvMIplor6YLDxIbG2zbTC3v3y4i5WczvmhebCsZEDFEiRB1mQVYlXzBkEhi07H0Z" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject history">
            <a href="https://books.google.com/books?id=ltgyHkFGF3EC&dq=abigail+adams+woody+holton&hl=en&sa=X&ved=0ahUKEwi_qYTg3PfOAhVsxYMKHZQoDrEQ6wEIJTAB" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=ltgyHkFGF3EC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71xE2BrXI-ljCNpZ9eDsFqfYAc-IvOONtUETHlDLuYXaeVKwyp1Xf5zBnhlaSbneoBJomOFC2SY1EOrV7or1uQNSuWkajKSzNrMQmAqTQ_u7jKrSgWXTdRJzAT9ivnOFCnC17ZH" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject history">
            <a href="https://books.google.com/books?id=rC3BFQjO0YwC&dq=brother+i%27m+dying&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=Csh9bqVNwKAC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE716t6wlR5o8fMkJsj-b752084cklLWNlND_xJFmeNU3_1qAeJwDZr4a03a90suL982Sx7SU8EhCR85yewSLCgQrpjYPYS4YwwIEJfLvNhUJi14YZ_qTrssAZc86dGJhFgNvxAJq" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject history">
            <a href="https://books.google.com/books?id=5jUz_lNlOZsC&dq=editions:0MODQ4FJKugC&hl=en&sa=X&ved=0ahUKEwjPjYup3ffOAhVE2mMKHbY-B_kQ6AEIIjAB" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=5jUz_lNlOZsC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE738R1Y29KyrLMSHsFbo_g-CnzFjMlgmA0EQl-AnqiWVEJXU41LuV35B_M_kK68vPYDgkbDhhSXT2l2REebvwT5d-R-i4tXyc9wuvujMS4o_z1QbuPgRcGd8buDjWvYRUeaINFSL" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject history">
            <a href="https://books.google.com/books?id=YjAnfhsAQ8wC&dq=editions:GkVEXVGYwScC&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=hhnIWGD5Zt0C&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE730yrtAFNIwiD0BvBgY55xrTc8y_fSCbdS_tyJSfv2FvXhN5XKs4a_7DpQbcYQL4i1Glb9BC2LN1cDrPntV_AsQj5wrK9jLAVYN89wy0fqQfmZJ4KSm2f_07joKlvQx4uRyAQ8e" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject math">
            <a href="https://books.google.com/books?id=oIYNBodW-ZEC&dq=editions:r5VE9FJvev0C&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=oIYNBodW-ZEC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE71ioqs-rR4Sy1no2wNxux9Nh8tzcjgKs58ix7aR8sqj_pVb0Ow5QYH0npKc6mdnI6oSXDegXI9QFzH2t2Cd32xxdlyo0w3N04Gg-SjYWPsRqxgJ6oC9hBA3OGPUOwTyjSQtsnsJ" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject math">
            <a href="https://books.google.com/books?id=BgFJfC_CrTAC&dq=naked+statistics&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=kNqEnAEACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70XrVwhfzNG4gJaSKhURsNC3DJjgebNvRvjsafGf4tzTee9w1TShxUdOswOn3Przg-r8l36uY2gkqEKSegCxeWo4nmMNIqPAzoONV7K7jQw5OPQOObVS1cCMbe2eCpH175601sq" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject math">
            <a href="https://books.google.com/books?id=dfysT8sctZAC&dq=the+housekeeper+and+the+professor&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=wOYKF5gu9oYC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73dhfQcK-_v0oTEZQFR5OES3pYP8UfXw0rvwxazwuLjM9eoeWYHpXrPn6p70SaBXeXqUOt2pi5T70uu0D0j0Tks5e1jNWnTf4ACTP4DSY98Ju5H3x4uhbHWFRSG2bpoJU76Q613" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject math">
            <a href="https://books.google.com/books?id=pbR9tgAACAAJ&dq=editions:ohQGyiw0f8kC&hl=en&sa=X&ved=0ahUKEwiMjLet3_fOAhXq7YMKHXumDg4Q6AEIJjAC" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=pbR9tgAACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73nPs6YumuBvg_--O9flUOR9HBzRJ-oGg1_bqHHizbXXhNO-PJsvwlg0N-Itkm-zVSSXu_8BDhabRVjgCZTMRxdBbodBP0ibvm4wPVY2nz-M-7KHQia4nFeBCEGPym0n_H4rXGa" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject polisci">
            <a href="https://books.google.com/books?id=U70sgPyfjDAC&dq=i+am+malala&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=U70sgPyfjDAC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE71WPIsH4dSaSM1IgC1wpWu527pCHB9IFmRBebSZiIdSyF-GCn0H9qC8HDwj_qVN9HghmoSG-nqsiA1gjB9kr1aP5ulKAILQfRJ0-OJH_2H9QbtPYrgF8PmC_p83hIOKG9p1ImvN" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject polisci">
            <a href="https://books.google.com/books?id=k85pcYttpW0C&dq=the+audacity+of+hope&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=8zR-1qOLq20C&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71ebRvnomggTIVoRBtK9mcnBg3yXJXcl730LQgBC2yq7Q36rAraqAgr6_AsN2DGDV2Lq7vOubUDca0k0FjnWofgRBR97hcILoEaZomzWL7vH3LFrE_gUFIcxn_GXm2M8qPC44iP" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject polisci">
            <a href="https://books.google.com/books?id=nQb2CQAAQBAJ&dq=between+the+world+and+me&hl=en&sa=X&ved=0ahUKEwj4pbDi3_fOAhWh6YMKHQ53DmkQ6wEIJDAB" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=nQb2CQAAQBAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73rUF1iGRDA5TaM-AUngkWjkoXa7jhzID8iFWFC4o-aVAz21W1ccWvLwcgKxEpDzqntfqdcInVGS_QTTMwkhvZLJIg8ghlRm6Tw_qKw_UL0h8WDpYLfsXJcZxipN2OeZ0255Zt9" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject polisci">
            <a href="https://books.google.com/books?id=s642sbWvLNgC&dq=nickel+and+dimed&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=LGqYngEACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70jPswL-PdKuizA8Z44HcxSq27pMUJLYy0RNTNZYQjkLed-Qabg4DMEn_WfZ-n8U2eJJa6VqbmLsLkzB7X8DlVmTWFlvHHuQ_3NWi3_rfe76F0j78Ui1MkuzaDF-5qM_UD9fiEy" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject polisci">
            <a href="https://books.google.com/books?id=a8JVz-fkQm4C&dq=where+men+win+glory&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=QSsQwXlOiGkC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE729MSYQPazWmmRklQRReOXaMsj_HPEsFR0jAfELSroDQhHeLGMc7MhzTbySXrGKj1zpg8AF-b7VtlE_xtEOXQBMEr4Dktk6shTVNUv4DXNvs9jiw7OKnB1HKsPNQ6h4XjcmUMNS" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject psych">
            <a href="https://books.google.com/books?id=wMuMRlfTmXQC&dq=1000+days+of+wonder&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=wMuMRlfTmXQC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73-0xWkntOolft4jd-ccRgHghT8k1sU_Qt5xUMiY51aMUona6JaNSpctpabelG01LHQE0z08hv90S3vFDCaAz7p_yEYGusxXHiSlquvAOaLuTVsgTH_btNGw28YNKc9pvf_p1nQ" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject psych">
            <a href="https://books.google.com/books?id=TA7Q27RWlj0C&dq=thinking+fast+and+slow&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=hOmtuQAACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE72NHCSSgid4nKElrl0ckb5MKwHzYF8Je8KRd-BlSSMHyQ3b_YQdwtCqLsyh80WbMAohyy7yQ3Zejv-J26A-3pT5qM7yxXOz_CvCAXQmgV3IjmOqQGgQyrnzEo0U1NRON4mr0nhe" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject psych">
            <a href="https://books.google.com/books?id=4SiwAAAAQBAJ&printsec=frontcover&dq=the+future+of+the+mind&hl=en&sa=X&ved=0ahUKEwj6r7CL4ffOAhWH1IMKHc8wDN8Q6AEIHjAA#v=onepage&q=the%20future%20of%20the%20mind&f=false" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=4SiwAAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&imgtk=AFLRE70Wqu_I_pidjdOiR_w7TPXvkdqrCg8sMqNs5Z4UXq22QDbwIF2V7vb_N8_LFHgjLL-N_KTovRCwfpO0EWoHFZq1taMeVmjqn6miiTyalCMMgsLk-Rzp-GoMFkHnNRuk8nfK9NT6" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject psych">
            <a href="https://books.google.com/books?id=nc2dE9swe0sC&dq=editions:355jOyLbDIEC&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=MYEXrtEJkSEC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70K1yEeSbpgy-VveYK_2sBHKGYpWDznoCM0ihtEmS9XT0EE5Pb9ScVYwzbOhzYteWwPy93v4jqJKkyQ-ao6FB7-GItC1RbTHqveHu2Hj89vv94VlnWlcbZ-QqzkxzVa7vjPB57D" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject psych">
            <a href="https://books.google.com/books?id=c1QXz8NzaTwC&dq=editions:8Fq8xjpU2xgC&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=uxUGJNuPQh8C&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE701qVTEK4coAA8DCTdNdCYTfsDzVfenK_v0SBxcq1YSeoFVqvVn9UbmVVYaJgcr491-Q95F51QwnbjZ1S5neSyND8vJRoUXA1-LDXcyNhR_MNN7G9yM4iAluJJn7Jo7e3AUoJfx" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject psych">
            <a href="https://books.google.com/books?id=atysCAAAQBAJ&dq=cure&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=NPjaCgAAQBAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71lZ755ovBuABbd1DqTii8rVOQA61EXOW-ZrXKnDpHo92PM82x8xXZhRyjlDPFiZppi8k091lhPKnS_36U3R_pMU4bH25Ipq6O3TrTPp7Yxzyp8gUrw8sGVA0Qpu-miS344L7cu" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject science">
            <a href="https://books.google.com/books?id=8AyEtZkYH3YC&q=the+collapsing+universe&dq=the+collapsing+universe&hl=en&sa=X&ved=0ahUKEwiPk4rs4ffOAhUk7YMKHfxWDKAQ6AEIHjAA" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=8AyEtZkYH3YC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71cmvBtJF634zzsFqeXw0_rNgdazVJhUu5oqrKi8e98AU2bkvaOFmRnMrH5mqW32MOjkhOxPfNcAvGaKpv-xSWqjQTdcX6Q1ZlU9s-HNsXv6caMHNY" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject science">
            <a href="https://books.google.com/books?id=NLdZAwAAQBAJ&dq=the+beak+of+the+finch&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=Dqe_5OO2IosC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE72hzdWFevPCMIAIYThhv4zpXh89vGd5GeGL9G-ptLlKWnAIeuI-bWlwEPFNWmqm5HLZr0yAT9PV8OhsdA3zWa2b2XmgJLR9lkgnuSmZoKg2YTp9aDWxcvg1WKRr-es6qxm5Lzf0" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject science">
            <a href="https://books.google.com/books?id=2NIpDAAAQBAJ&printsec=frontcover&dq=editions:UCUytHwJms8C&hl=en&sa=X&ved=0ahUKEwifgpLA4vfOAhUd24MKHWGVDPcQ6AEIHDAA#v=onepage&q&f=false" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=AscGrgEACAAJ&printsec=frontcover&img=1&zoom=1&h=160&stbn=1" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject science">
            <a href="https://books.google.com/books?id=wMrBngEACAAJ&dq=the+clockwork+universe&hl=en&sa=X&ved=0ahUKEwjmjuvM4vfOAhXK6YMKHaV9DyYQ6AEIJDAB" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=wMrBngEACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70LkKZhqsTGSH81rZ5s_cnVVVu_rZToNqpJGsJwV-BqzablikzVOHUyiDFpYZ9CpsB6yHoF5iLbQHIzuvNicg2hGjj7rASNeG9C46F7c_QIzcmL_GGdVUzHLuUVQOs1kKIs7syV" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject science">
            <a href="https://books.google.com/books?id=4S60ronf9ooC&dq=the+disappearing+spoon&hl=en&sa=X&ved=0ahUKEwj6idWe4_fOAhUC3YMKHa-XCzkQ6AEIKTAC" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=4S60ronf9ooC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70JDjIF56jGFjHwqsi7-mMt6hbCkwgkcJS4wGITBdvDyORmvyo5DjXyiVgYqZqLRkFp6QY_ITCe2zn1FwUTliVt3T7Gf53L_EhcWkhJ5RqZFh19Oh-5Gyu6Pxuw2VrKqHMxMfog" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject religion">
            <a href="https://books.google.com/books?id=VRmSGOjiE2oC&dq=no+god+but+god&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=CVcb4HyUPkYC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70LxWAM-rGXLcoGaP6vmcMD1pSlKwcLhcewtYT4-iidboVQwA8owatmAj0c6YU3wFVQbqFIXt260WAdQeas0V9JrG7SxRG2ObzXaOcDlangjPf3N7MGnKeXvhpK1JRhbUXtHAcl" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject religion">
            <a href="https://books.google.com/books?id=hU04O7bBC-MC&dq=mere+christianity&hl=en&sa=X&ved=0ahUKEwiaj-qhwJ3QAhVM6mMKHWF-DLgQ6AEILDAB" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=vbRaAAAAYAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE7084J2efR01EeMFowx8_0tzloU6ZUDDD2TD85PDK2RaGr3tVC7VECyDfvLTbYBU1cKPxa7nM6XT_8ViNCq5uUkgDNCqyBB1i8PIPIR6UGuNawT3k-TLJ8a_U3G2KpkWPtFWqTti" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject religion">
            <a href="https://books.google.com/books?id=kx9ZCo6F1hkC&dq=confessions&hl=en&sa=X&ved=0ahUKEwiqwK7JwJ3QAhUWS2MKHSlhCuIQ6AEIKjAC" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=kx9ZCo6F1hkC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73RiFQ1wzvvR2-YQ-e8lfSlqI0rWNmI_pFpoOez0yQqg9kaItm53rGAqekoUPvD9IM3zaJGHcGEjIogGdDAWZnyCOmr9SGCZlq72wdJykxqGF0utMPvVHz3WD-7gxV5184Y6wTf" alt="Responsive image">
            </a>
        </div>
        <div class="book-subject religion">
            <a href="https://books.google.com/books?id=FrK5K4DeDbwC&dq=zealot&source=gbs_navlinks_s" target="new">
                <img class="img-responsive book-image grow" src="https://books.google.com/books/content?id=k_hnxeh5VskC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73Psxa8RBjBQ1gfdl0hLsdbSBp3Ph2o3DYLlfBfCJeYT1TjPgT3XCOhidISbhKfAtK01DAq0YQLVaFNlNYrVQmSkG0wpwWDpFrlHrHhehQTQWJre747LPGlpYq_U1dMhIzhgr8R" alt="Responsive image">
            </a>
        </div>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
