<!DOCTYPE html>
<html>
<head>
    <title>Subject</title>
    <link rel="stylesheet" href="~/css/sub.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        /* Additional styles can be added here */
        .question-container {
            display: none;
        }
    </style>
</head>
<body>
    <section>
        <div class="main-content">
            <h2>Question For Subjects</h2>
            <div class="subject-view">
                <div class="tab">
                    <button class="subject-button" data-subject="management_information_system">Management Information System</button>
                    <button class="subject-button" data-subject="mobile_application_development">Mobile Application Development</button>
                    <button class="subject-button" data-subject="numerical_methods">Numerical Methods</button>
                    <button class="subject-button" data-subject="mathematical_foundation_and_computer_science">Mathematical Foundation And Computer Science</button>
                    <button class="subject-button" data-subject="system_analysis_and_design">System Analysis And Design</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            $(".subject-button").click(function () {
                var subject = $(this).data("subject");
                openPapersPage(subject);
            });
        });

        function openPapersPage(subject) {
            // Define the URL for each subject's papers page
            var papersPageURLs = {
                'management_information_system': 'https://docs.google.com/forms/d/1_n7Wh_hNpI7_mnnyLuLOqTE7D4Qth4zN3IHIr8tzpNo/edit',
                'mobile_application_development': 'https://docs.google.com/forms/d/1V32n_WAiEx4E9pFew6LQ-uIU2RBF4uAAvucji5fR3eY/edit',
                'numerical_methods': 'https://docs.google.com/forms/d/1mKK2XvBLA4Dl5hkun9LJZg0idL-26aI7WLyuSHgRmP4/edit',
                'mathematical_foundation_and_computer_science': 'https://docs.google.com/forms/d/1Y5lytkRjURxbM4q9MOLpAeAQlSgkXexCDGdDerDnkjQ/edit',
                'system_analysis_and_design': 'https://docs.google.com/forms/d/1dkKXllh_wcHzPRczFHE4vrSOwa6Ahc7jwKatzT93Nck/edit'
            };

            // Get the URL for the specific subject
            var subjectPageURL = papersPageURLs[subject];

            // Open the new page in a new tab/window
            if (subjectPageURL) {
                window.open(subjectPageURL, '_blank');
            } else {
                alert('Papers page not found for this subject');
            }
        }
    </script>
</body>
</html>
