@model IEnumerable<MIS_Classroom.Models.TechengineeMisStudent>

@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Student Management</h2>
<a href="/Admin/Home/AddStudent" class="btn btn-primary btn-management" id="addStudentBtn">Add Student</a>
<table class="management-table table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Semester</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="managementContent">
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Semester</td>
                <td>
                    <a href="/Admin/Home/EditStudent/@student.StudentId" class="btn btn-sm btn-warning btn-management">Edit</a>
                    <a href="/Admin/Home/DeleteStudent/@student.StudentId" class="btn btn-sm btn-danger btn-management">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
