@{
    Layout = "/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<form id="editForm" asp-action="ChangePassword" method="post" width="50%">

    <div class="mb-3">
        <label for="TeacherPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="teacherPassword" name="Password" width="50%">
    </div>

    <button type="submit" class="btn btn-primary">Change Now</button>
</form>