@model MIS_Classroom.Models.TechengineeMisQuestion

@{
    Layout = "/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-5 mb-4">Delete Question</h1>

<div class="card">
    <div class="card-body">
        <form method="post" asp-action="DeleteConfirmed" asp-controller="Home">
            <input type="hidden" name="id" value="@Model.QuestionId" />
            <p class="mb-3">Are you sure you want to delete the following question?</p>
            <p><span class="fw-bold">Question ID:</span> @Model.QuestionId</p>
            <p><span class="fw-bold">Question Text:</span> @Model.QuestionsTxt</p>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
