<body>
    <h1>Add Questions</h1>
    <form action="" method="post">
        <label for="subject">Subject:</label>
        <select name="subject" id="subject">
            <option value="1">MIS</option>
            <option value="2">MAD</option>
            <option value="3">SAD</option>
            <option value="4">MFCS</option>
            <option value="5">NM</option>
        </select>
        <br><br>
        <label for="question">Question:</label><br>
        <textarea name="question" id="question" rows="4" cols="50"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
<h1>helloooooooo</h1>