@model IEnumerable<MIS_Classroom.Models.TechengineeMisQuestion>

@{
    Layout = "/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-5 mb-4">List of Questions</h1>

<div class="card">
    <div class="card-body">
        <ol class="list-group list-group-numbered">
            @foreach (var question in Model)
            {
                <div class="d-flex justify-content-between align-items-center">
                    <div style="border: none; margin-right: 10px;">
                <li class="list-group-item mb-3" style="border:none !important;top:20px">
                    <p>@(Model.ToList().IndexOf(question) + 1). @question.QuestionsTxt</p>
                </li>
        </div>
        <div>
            <a href="/Teacher/Home/EditQuestion/@question.QuestionId" class="btn btn-primary me-2">Edit</a>
            <a href="/Teacher/Home/DeleteQuestion/@question.QuestionId" class="btn btn-danger">Delete</a>
        </div>
    </div>
            }
        </ol>
    </div>
</div>
