<div class="login-page">
    <div class="form">
       
        <form class="login-form" method="post">
            <input type="text" placeholder="username"  name="txtName"/>
            <input type="password" placeholder="password" name="txtPassword" />
            <input type="submit"  value="login" class="button"/>
        </form>
    </div>
</div>